<mat-card class="mat-elevation-z0">
  <mat-card-header>
    <mat-card-title>Get started on your quest</mat-card-title>
    <mat-card-subtitle>
      Just like any good game, we want you to choose your starting point.
      Pick the option below you wish to search by and start your journey.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="form-controls-container">
      <mat-form-field>
        <mat-select placeholder="Select artwork medium" [(value)]="medium">
          <mat-option *ngFor="let medium of mediums" [value]="medium.Name">{{medium.Name}} - {{medium.ObjectCount}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Select culture" [(value)]="culture">
          <mat-option *ngFor="let culture of cultures" [value]="culture.Name">{{culture.Name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Select century" [(value)]="century">
          <mat-option *ngFor="let century of centuries" [value]="century.Name">{{century.Name}} -
            {{century.ObjectCount}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <div *ngIf="searchCriteria">
        <h4>{{searchCriteria.Culture}}</h4>
        <h4>{{searchCriteria.Medium}}</h4>
        <h4>{{searchCriteria.Century}}</h4>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <button mat-button (click)="searchArt(culture, century, medium)">Search</button>
  </mat-card-footer>
</mat-card>