@import '../../../app-theme.scss';

mat-card{
    max-width: 600px;
}

.form-controls-container{
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

mat-slider {
    width: inherit;
  }

.object-count-wrapper{
    background-color: rgba(0, 0, 0, 0.164);
    color: whitesmoke;
    border-radius: 25px;
    font-size: 12px;
    padding:3px;
}

.filter-item{
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer; 
}

.selected{
    background-color: mat-color($custom-warn);
}

.filter-item:hover{
    background-color: #1f1e1f3b;
    transition: .2s;
}

.choice-title{
    font-weight: 500;
    font-size: 18px;
    padding-left: 10px;   
}

.row{
    margin-bottom: .5rem !important;
}

.mat-card-content{
    padding: 25px;
    padding-top: 0;
}

mat-card-footer{
    padding-left: 15px;
    padding-bottom: 15px;
    align-content: right;
    overflow-x: hidden;
}

button{
    background-color: mat-color($custom-accent) !important;
}

mat-header{
    background-color: mat-color($custom-warn) !important;
}