@import '../../../app-theme.scss';

button{
    color: mat-color($custom-accent) !important;
}

mat-card{
    max-width: 600px;

}

.form-controls-container{
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

mat-slider {
    width: inherit;
  }

.object-count-wrapper{
    background-color: rgba(0, 0, 0, 0.486);
    color: whitesmoke;
    border-radius: 25px;
    font-size: 12px;
    padding:3px;
}

.filter-item{
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer; 
}

.filter-item:hover{
    background-color: #1f1e1f81;
    transition: .2s;
}

.choice-title{
    font-weight: 500;
    font-size: 18px;
    padding-left: 10px;   
}

.row{
    margin-bottom: .5rem !important;
}