<mat-card class="mat-elevation-z0">
  <mat-card-header>
    <mat-card-title>Get started on your quest</mat-card-title>
    <mat-card-subtitle>
      Just like any good game, we want you to choose your starting point.
      Pick the option below you wish to search by and start your journey.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-4 choice-title">
        Medium
      </div>
      <div class="col-4 choice-title">
        Century
      </div>
      <div class="col-4 choice-title">
        Culture
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-4 form-controls-container">
          <div *ngFor="let medium of mediums; let i = index" (click)="toggleMediumSelect(i)">
            <div [ngClass]="(mediumSelection[i]) ? 'selected' : ''" class="row filter-item">{{medium.Name}} - {{medium.ObjectCount}}</div>
          </div>
        </div>
        <div class="col-4 form-controls-container">
          <div *ngFor="let century of centuries; let i = index" (click)="toggleCenturySelect(i)">
            <div [ngClass]="(centurySelection[i]) ? 'selected' : ''" class="row filter-item">{{century.Name}} - {{century.ObjectCount}}</div>
          </div>
        </div>
        <div class="col-4 form-controls-container">
          <div *ngFor="let culture of cultures; let i = index" (click)="toggleCultureSelect(i)">
            <div [ngClass]="(cultureSelection[i]) ? 'selected' : ''" class="row filter-item">{{culture.Name}} -
              {{culture.ObjectCount}}</div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div class="row">
      <div class="col-8"></div>
      <div class="col-2">
        <button mat-button (click)="searchArt()">Search</button>
      </div>
    </div>
  </mat-card-footer>
</mat-card>