<section class="features">
	<div class="row">
		<div class="item col s12 m4">
			<h4><u>Getting Started</u></h4>
			<p>There are three categories to help lead your quest: Medium, Century, and Culture.</p>
			<p>Choose from these lists what filter you would like to find your art.</p>
			<p>Some text would go here about this feature. Some text would go here about this feature.</p>
		</div>
		<div class="item col s12 m4">
			<h4><u>The Categories</u></h4>
			<p><i>Medium</i></p>
			<p>A medium is the material used to create art. Artists use it to better capture expression and give meaning to their work. To find art art made with a certain medium, choose from the list to filter by.</p>
			<p><i>Century</i></p>
			<p>Artistic expression has trends over time. To find art from your favorite time period, make sure to choose century you would like to filter by.</p>
			<p><i>Culture</i></p>
		<p>Culture from all over the world has inspired artist to create amazing art. To find an art piece from a specific culture, choose it from the list to filter by that culture.</p>
		</div>
		<div class="item col s12 m4">
			<h4><u>Find Your Art</u></h4>
			<p>Select the Search button after selecting filtering your categories.</p>
			<p>Enjoy Your Art</p>
		</div>
	</div>
</section>