<div class="container">
	<div class="row">
		<div class="col-1">
			<button mat-icon-button>
				<mat-icon>keyboard_arrow_left</mat-icon>
			</button>
		</div>
		<div class="col-10">
			<mat-divider></mat-divider>
			<div *ngFor="let art of artPieces">
				<mat-card *ngIf="art.ImageLink" class="art-card">
					<div class="row">
						<div class="image col col-md-6">
							<img src="{{art.ImageLink}}">
						</div>
						<div class="details col col-md-6">
							<h2>{{art.Title}}</h2>
							<h3>{{art.Medium}}, {{(art.ArtistName) ? art.ArtistName : ''}}, {{art.Year}}</h3>
							<div *ngIf="art.Description" class="info-box">
								{{art.Description}}
							</div>
						</div>
					</div>
				</mat-card>
			</div>
			<mat-divider></mat-divider>
		</div>
		<div class="col-1">
			<button mat-icon-button>
				<mat-icon>keyboard_arrow_right</mat-icon>
			</button>
		</div>
	</div>
</div>