<div class="container">
	<mat-icon class="back-icon"><span>arrow_back_ios</span></mat-icon>
	<mat-divider></mat-divider>
	<mat-card *ngFor="let art of artPieces" class="art-cart">
		<div class="row">
			<div class="image col col-md-6">
				<img src="art.ImageLink">
			</div>
			<div class="details col col-md-6">
				<h2>{{art.Title}}</h2>
				<h3>{{art.Medium}} by {{art.ArtistName}}</h3>
				<h4>Made in {{art.Year}}</h4>
				<div class="info-box">
					{{art.Description}}
				</div>
			</div>
		</div>
	</mat-card>
	<mat-divider></mat-divider>
	<mat-icon class="forward-icon"><span>arrow_back_ios</span></mat-icon>
</div>
