@import '../../app-theme.scss';

.header {
	background-color: #303C6C; //mat-color($custom-accent) !important;
	color: whitesmoke;
	padding-top: 15px;

	.tag {
		height: 100px;
		width: 100px;
		position: relative;
		top: 15px;
	}

	.logo {
		margin-right: 10px;
		height: 100px; 
		width: 100px;
		position: relative;
		top: 15px;
	}
}