<mat-card class="mat-elevation-z0">
  <mat-card-header>
    <mat-card-title>Get started on your quest</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="form-controls-container">
      <div class="row">
        <div class="col-2">
          <mat-icon>sentiment_satisfied_alt</mat-icon>
        </div>
        <div class="col-8">
          <mat-slider></mat-slider>
        </div>
        <div class="col-2">
          <mat-icon>sentiment_very_dissatisfied</mat-icon>
        </div>
      </div>

      <mat-form-field>
        <mat-select placeholder="Select time period" [(value)]="period">
          <mat-option *ngFor="let period of periods" [value]="period.Name">{{period.Name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="testResults">
      <div *ngFor="let result of testResults">
        <h1>{{result.Title}}</h1>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <button mat-button (click)="searchArt(culture, period, classification)">Search</button>
  </mat-card-footer>
</mat-card>