/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import './app-theme.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*::-webkit-scrollbar {
    width: 0.60em;
    background-color: transparent;
  }

  
  *::-webkit-scrollbar-thumb {
    background-color: mat-color($custom-primary);
    outline: 1px solid mat-color($custom-primary);
    border-radius: 10px;
  }
